.heigerOnHover1 {
    border-radius: 4%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 9px 8px 19px #00000096;
    z-index: 1;
    transition: 400ms;
    height: calc(20vw);
    width: auto;
}
*:has(.heigerOnHover1){
    min-height: calc(20vw + 20px);
}

.heigerOnHover1:hover {
    transition: 400ms;
    height: calc(20vw + 20px);
}